* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-image: url(soraya.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50rem;
    width: 100%;
    position: relative;
}

header::before{
    position: absolute;
    content: '';
    background-color: black;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
}

.contenido-header{
    position: relative;
}

h1{
    color: white;
    text-align: center;
}